@page "/BrowsePets"
@using ClientApp.Model
@inject NavigationManager NavMgr
@inject IUserController _userController
@inject IPetController _petController

<div class="flex items-center justify-center min-h-screen bg-pink-100">
    <table class="">
        <tbody class="">
        @if (toShowPets == null)
        {
            <p>No pets found</p>
        }
        else
        {
            @foreach (var item in toShowPets)
            {
                <div class="py-3">
                    <tr class="">
                        <th class="p-6 bg-green-400 rounded-l-full">@item.name</th>
                        <th class="p-6 bg-green-400">@item.type</th>
                        <th class="p-6 bg-green-400">@item.breed</th>
                        <th class="p-6 bg-green-400">@item.gender</th>
                        <th class="p-6 bg-green-400 rounded-r-full">@item.city</th>
                    </tr>
                </div>
            }
        }
        </tbody>
    </table>
</div>