@page "/BrowsePets"
@using ClientApp.Model
@inject NavigationManager NavMgr
@inject IUserController _userController
@inject IPetController _petController

@* <div class="overflow-x-auto"> *@
@*     <div class="min-w-screen min-h-screen bg-pink-100 flex items-center justify-center bg-gray-100 font-sans overflow-hidden"> *@
@*         <div class="w-full lg:w-5/6"> *@

            @if (toShowPets == null)
            {
                <p>No pets found</p>
            }
            else
            {
                @foreach (var item in toShowPets)
                {
                    
                    @*<div class="bg-green-400 card border w-1/3 hover:shadow-none relative flex flex-col mx-auto shadow-lg m-5">
                        <img class="bg-blue-100 max-h-20 w-full opacity-80 absolute top-0" style="z-index:-1" src="https://unsplash.com/photos/iFPBRwZ4I-M/download?force=true&w=640" alt=""/>
                        <div class="profile w-full flex m-3 ml-4 text-white">
                            <img alt="Dog profile picture" class=" rounded-full w-11 h-11 mt-6 mx-8" src="Images/dog.jpg">
                            <div class="title mt-11 ml-3 font-bold flex flex-col text-black">
                                <div class="name break-words">@item.name</div>
                                <!--  add [dark] class for bright background -->
                                <div class="add font-semibold text-sm italic dark">@item.city.name</div>
                            </div>
                        </div>
                        <div class="buttons flex absolute bottom-0 font-bold right-0 text-xs text-gray-500 space-x-0 my-3.5 mr-3">
                            <div class="add border rounded-l-2xl rounded-r-sm border-gray-300 p-1 px-4 cursor-pointer hover:bg-gray-700 hover:text-white">Contact</div>
                            <!-- <div class="add border rounded-r-2xl rounded-l-sm border-gray-300 p-1 px-4 cursor-pointer hover:bg-gray-700 hover:text-white">Bio</div> -->
                        </div>
                    </div>*@

                    <div class="py-10 h-200 w-50 bg-pink-100 flex justify-center items-center">
                        <div class="h-56 w-72 absolute flex justify-center items-center">
                            <img alt="Dog profile picture" class=" rounded-full w-10 h-10 mt-6 mx-8" src="Images/dog.jpg">
                        </div>
                        
                        <div class="h-56 mx-4 w-5/6 bg-blue-400 rounded-3xl shadow-md sm:w-80 sm:mx-0">
                            <div class="h-1/2 w-full flex justify-between items-baseline px-3 py-5">
                                <h1 class="text-white">Profile</h1>
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="white">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"/>
                                </svg>
                            </div>

                            <div class="bg-white h-1/2 w-full rounded-3xl flex flex-col justify-around items-center">
                                <div class="w-full h-1/2 flex justify-between items-center px-3 pt-2">
                                    <div class="flex flex-col justify-center items-center">
                                        <h1 class="text-gray-500 text-xs">Type</h1>
                                        <h1 class="text-gray-600 text-sm">@item.type</h1>
                                    </div>
                                    <div class="flex flex-col justify-center items-center">
                                        <h1 class="text-gray-500 text-xs">Breed</h1>
                                        <h1 class="text-gray-600 text-sm">@item.breed</h1>
                                    </div>
                                </div>
                                <div class="w-full h-1/2 flex flex-col justify-center items-center">
                                    <h1 class="text-gray-700 font-bold">@item.name</h1>
                                    <h1 class="text-gray-500 text-sm">@item.city.name, @item.city.country.name</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
@*         </div> *@
@*     </div> *@
@* </div> *@