@page "/"
@inject IPetController _petController
@inject NavigationManager NavMgr

@if (toShowPets == null)
{
    <p>No pets found</p>
}
else
{
  @foreach (var item in toShowPets)
  {
    <div class="container flex flex-wrap pt-4 pb-10 m-auto mt-6 md:mt-15 lg:px-12 xl:px-16"> 
      <div class="w-full px-0 lg:px-4">
        <h2 class="px-12 text-base font-bold text-center md:text-2xl text-pink-700">

        </h2>

        <div class="flex flex-wrap items-center justify-center py-4 pt-0">
          <div class="w-full p-4 md:w-1/2 lg:w-1/4 plan-card">
            <label class="flex flex-col rounded-lg shadow-lg group relative cursor-pointer hover:shadow-2xl">
              <div class="w-full px-4 py-6 rounded-t-lg card-section-1">
                <h3 class="mx-auto text-base font-semibold text-center underline text-pink-500 group-hover:text-blue">
                  Type: @item.Type
                </h3>
                <p class="text-5xl font-bold text-center group-hover:text-blue text-pink-500">
                  Name: @item.Name <span class="text-3xl"></span>
                </p>
                <p class="text-xs text-center uppercase group-hover:text-blue text-pink-500">
                  Breed: @item.Breed
                </p>
              </div>
              <div
                class="flex flex-col items-center justify-center w-full h-full py-6 rounded-b-lg bg-pink-500">
                <p class="text-xl text-white">
                  Description: @item.Description
                </p>
                <button class="w-5/6 py-2 mt-2 font-semibold text-center uppercase bg-white border border-transparent rounded text-pink-500">
                  Adopt @item.Status
                </button>
              </div>
            </label>
          </div>

        </div>
      </div>
    </div>
   } 
  } 
 
 
 
@* @if (toShowPets == null) *@
@* { *@
@*     <p>No pets found</p> *@
@* } *@
@* else *@
@* { *@
@* $1$     <table class="min-w-max w-full table-auto shadow-xl"> #1# *@
@*         <thead class="table-primary"> *@
@*         <tr> *@
    @*         <th>Id</th> *@
    @*         <th>Name</th> *@
    @*         <th>Type</th> *@
    @*         <th>Breed</th> *@
    @*         <th>Description</th> *@
    @*     </tr> *@
    @*     </thead> *@
    @*     <tbody> *@
    @*     @foreach (var item in toShowPets) *@
    @*     { *@
    @*         <tr> *@
    @*             <td>@item.id</td> *@
    @*             <td>@item.name</td> *@
    @*             <td>@item.type</td> *@
    @*             <td>@item.breed</td> *@
    @*             <td>@item.description</td> *@
    @*         </tr> *@
    @*     } *@
    @*     </tbody> *@
    @* </table> *@



}