@page "/"
@inject IPetController _petController
@inject NavigationManager NavMgr
@using business_logic.Model;
@using System.Collections.ObjectModel
<h1>Pet book</h1>


<a class="btn btn-success mb-2" @onclick="()=>NavigateToAddPet()">Add Pet</a>
@if (toShowPets == null)
{
    <p>No pets found</p>
}
else
{
    <table class="min-w-max w-full table-auto shadow-xl">
        <thead class="table-primary">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Type</th>
            <th>Breed</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in toShowPets)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.type</td>
                <td>@item.breed</td>
                <td>@item.description</td>
            </tr>
        }
        </tbody>
    </table>
}









}